@media only screen and (min-width: 300px) and (max-width: 400px) {
  video {
    width: 85%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  video {
    height: 400px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 550px) {
  video {
    width: 80%;
    height: 460px;
  }
}

@media only screen and (min-width: 491px) and (max-width: 550px) {
  video {
    width: 75%;
    height: 480px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
  video {
    width: 72%;
    height: 550px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 700px) {
  video {
    width: 65%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  video {
    width: 75%;
    height: 680px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1000px) {
  video {
    width: 70%;
    height: 720px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  video {
    width: 55%;
    height: 580px;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1300px) {
  video {
    width: 50%;
    height: 610px;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1450px) {
  video {
    width: 45%;
    height: 610px;
  }
}

@media only screen and (min-width: 1451px) and (max-width: 1600px) {
  video {
    width: 50%;
    height: 700px;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  video {
    width: 40%;
    height: 700px;
  }
}
