@media only screen and (min-width: 300px) and (max-width: 400px) {
  video {
    width: 85%;
  }

  button {
    width: 120px;
    font-size: 17.2px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  video {
    height: 400px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 550px) {
  video {
    width: 80%;
    height: 460px;
  }

  button {
    font-size: 19px;
    height: 40px;
  }
}

@media only screen and (min-width: 491px) and (max-width: 550px) {
  video {
    width: 75%;
    height: 480px;
  }

  button {
    height: 40px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
  video {
    width: 72%;
    height: 550px;
  }

  button {
    height: 43px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 700px) {
  video {
    width: 65%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  video {
    width: 75%;
    height: 680px;
  }

  button {
    height: 53px;
    font-size: 24px;
    margin: 45px 0px 20px 0px;
    width: 190px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1000px) {
  video {
    width: 70%;
    height: 720px;
  }

  button {
    margin: 30px 0px 20px 0px;
    height: 53px;
    width: 180px;
    font-size: 21px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  video {
    width: 55%;
    height: 580px;
  }

  button {
    height: 55px;
    width: 160px;
    margin: 35px 0px 20px 0px;
    font-size: 20.2px;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1300px) {
  video {
    width: 50%;
    height: 610px;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1450px) {
  video {
    width: 45%;
    height: 610px;
  }

  button {
    margin: 30px 0px 20px 0px;
    height: 50px;
    width: 150px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1451px) and (max-width: 1600px) {
  video {
    width: 50%;
    height: 700px;
  }

  button {
    margin: 30px 0px 25px 0px;
    height: 54px;
    width: 150px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  video {
    width: 40%;
    height: 700px;
  }

  button {
    height: 60px;
    margin: 35px 0px 25px 0px;
    width: 170px;
    font-size: 22px;
  }
}
